
@import "tailwindcss";

@theme {
  --color-neo-bg: #fbfbf9;
  --color-neo-notebook: #fff5e2;
  --color-neo-accent: #A30B37;
}

@layer base {
  :root {
    --app-header-height: 68px;
  }

  body {
    @apply bg-neo-bg text-black;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans Thai", "Th Sarabun New", monospace;
  }
}
